<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="TFSSystemTypeFromHost_D" value="etas-tfs-dev.de.bosch.com"/>
    <add key="TFSSystemTypeFromHost_Q" value="etas-tfs-q.de.bosch.com"/>
    <add key="TFSSystemTypeFromHost_P" value="etas-tfs.de.bosch.com"/>
    <add key="TFSSystemTypeFromHost_A1" value="fe20138s.ecn.etasgroup.com"/>
    <add key="TFSSystemTypeFromHost_A2" value="tfs.ecn.etasgroup.com"/>

    <add key="VersionPickerServiceAddress_D" value="http://fe0vm2345.de.bosch.com:8890/PCatService.asmx" />
    <add key="VersionPickerServiceAddress_Q" value="http://si0vmc1969.de.bosch.com:8890/PCatService.asmx" />
    <add key="VersionPickerServiceAddress_P" value="http://si0vmc1887.de.bosch.com:8890/PCatService.asmx" />
    <!--never change A1 and A2 these are aliases-->
    <add key="VersionPickerServiceAddress_A1" value="http://fe20138s.ecn.etasgroup.com:8890/PCatService.asmx" />
    <add key="VersionPickerServiceAddress_A2" value="http://tfs.ecn.etasgroup.com:8890/PCatService.asmx" />

    <add key="FilePathProductCatalog" value ="C:\inetpub\ProdCatWebService\App_Data\ProdCatalog.xml"/>

    <add key="CRMContactServiceAddress_D" value="http://fe0vm2345.de.bosch.com:8087/CustomerWebService.asmx" />
    <add key="CRMContactServiceAddress_Q" value="http://si0vmc1969.de.bosch.com:8087/CustomerWebService.asmx" />
    <add key="CRMContactServiceAddress_P" value="http://si0vmc1887.de.bosch.com:8087/CustomerWebService.asmx" />
    <!--never change A1 and A2 these are aliases-->
    <add key="CRMContactServiceAddress_A1" value="http://fe20138s.ecn.etasgroup.com:8087/CustomerWebService.asmx" />
    <add key="CRMContactServiceAddress_A2" value="http://tfs.ecn.etasgroup.com:8087/CustomerWebService.asmx" />

    <add key="SAPEndPoint_D" value="http://rb3qacf7.server.bosch.com:8052/sap/bc/srt/rfc/sap/zservice/011/zservice/servicebinding" />
    <add key="SAPEndPoint_Q" value="http://rb3qacf7.server.bosch.com:8053/sap/bc/srt/rfc/sap/zservice/011/zservice/servicebinding" />
    <add key="SAPEndPoint_P" value="http://rb3pacf7.server.bosch.com:8053/sap/bc/srt/rfc/sap/zservice/011/zservice/servicebinding" />
    <!--never change A1 and A2 these are aliases-->
    <add key="SAPEndPoint_A1" value="http://rb3pacf7.server.bosch.com:8053/sap/bc/srt/rfc/sap/zservice/011/zservice/servicebinding" />
    <add key="SAPEndPoint_A2" value="http://rb3pacf7.server.bosch.com:8053/sap/bc/srt/rfc/sap/zservice/011/zservice/servicebinding" />

    <add key ="SAPWSDL_D" value="http://rb3qacf7.server.bosch.com:8052/sap/bc/srt/wsdl/bndg_BAA1464D1F64213CE10000000A03188B/wsdl11/allinone/ws_policy/document?sap-client=011" />
    <add key ="SAPWSDL_Q" value="http://rb3qacf7.server.bosch.com:8053/sap/bc/srt/wsdl/bndg_BAA1464D1F64213CE10000000A03188B/wsdl11/allinone/ws_policy/document?sap-client=011" />
    <add key ="SAPWSDL_P" value="http://rb3pacf7.server.bosch.com:8053/sap/bc/srt/wsdl/bndg_BF1FAB4D89E23966E10000000A031886/wsdl11/allinone/ws_policy/document?sap-client=011" />
    <!--never change A1 and A2 these are aliases-->
    <add key ="SAPWSDL_A1" value="http://rb3pacf7.server.bosch.com:8053/sap/bc/srt/wsdl/bndg_BF1FAB4D89E23966E10000000A031886/wsdl11/allinone/ws_policy/document?sap-client=011" />
    <add key ="SAPWSDL_A2" value="http://rb3pacf7.server.bosch.com:8053/sap/bc/srt/wsdl/bndg_BF1FAB4D89E23966E10000000A031886/wsdl11/allinone/ws_policy/document?sap-client=011" />

    <add key ="SMTPServer" value="mail.ecn.etasgroup.com" />

    <add key="wiEHIVersion" value="245858" />
    <add key="FAQhypLinkEHI" value="http://faq.ecn.etasgroup.com/index.php/Company.EHI#Installation" />

    <add key="SQLConnectionEHI_ALL_D" value="server=fe0vm2345.de.bosch.com;integrated security=SSPI;database=TFS_EHI_ALL" />
    <add key="SQLConnectionEHI_ALL_Q" value="server=si0vsql84.de.bosch.com;integrated security=SSPI;database=TFS_EHI_ALL" />
    <add key="SQLConnectionEHI_ALL_P" value="server=si0vsql80.de.bosch.com;integrated security=SSPI;database=TFS_EHI_ALL" />
    <!--never change A1 and A2 these are aliases-->
    <add key="SQLConnectionEHI_ALL_A1" value="server=fe20138s.ecn.etasgroup.com;integrated security=SSPI;database=TFS_EHI_ALL" />
    <add key="SQLConnectionEHI_ALL_A2" value="server=tfs.ecn.etasgroup.com;integrated security=SSPI;database=TFS_EHI_ALL" />

    <add key="SASCalendarPath" value="\\festorage02\csw\_Standard_Software\Development\VisualStudio\TFS\TFSTools\SAS_Prototyp\Calendar" />

    <add key="SASSupportGroupName" value="[Company.EHI]\0HotlineSupport" />

  </appSettings>
</configuration>